.parentCardSlider {
    position: relative;
}




@media (max-width: 767px) {

    .arrow-button {
        color: #fff;
        font-size: 60px;
        border: none;
        cursor: pointer;
        position: absolute;
        bottom: 33%;
        transform: translate(-50%, -50%);
        left: 0px;
        z-index: 50;
    }

    .arrow-button2 {

        color: #fff;
        font-size: 60px;
        border: none;
        cursor: pointer;
        position: absolute;
        bottom: 33%;
        transform: translate(-50%, -50%);
        right: -50px;
        z-index: 50;
    }

}

@media (min-width: 768px) {

    .arrow-button {
        color: #fff;
        font-size: 60px;
        border: none;
        cursor: pointer;
        position: absolute;
        bottom: 32%;
        transform: translate(-50%, -50%);
        left: 10px;
        z-index: 50;
    }

    .arrow-button2 {

        color: #fff;
        font-size: 60px;
        border: none;
        cursor: pointer;
        position: absolute;
        bottom: 32%;
        transform: translate(-50%, -50%);
        right: -50px;
        z-index: 50;
    }

}

/* --------------- for 1366px large devices ------------- */
@media (min-width: 1280px) {

    .arrow-button {
        color: #fff;
        font-size: 60px;
        border: none;
        cursor: pointer;
        position: absolute;
        bottom: 37%;
        transform: translate(-50%, -50%);
        left: 10px;
        z-index: 50;
    }

    .arrow-button2 {

        color: #fff;
        font-size: 60px;
        border: none;
        cursor: pointer;
        position: absolute;
        bottom: 37%;
        transform: translate(-50%, -50%);
        right: -50px;
        z-index: 50;
    }

}

/* --------------- for 1536px large devices ------------- */
@media (min-width: 1536px) {

    .arrow-button {
        color: #fff;
        font-size: 91px;
        border: none;
        cursor: pointer;
        position: absolute;
        bottom: 37%;
        transform: translate(-50%, -50%);
        left: 10px;
        z-index: 50;
    }

    .arrow-button2 {

        color: #fff;
        font-size: 91px;
        border: none;
        cursor: pointer;
        position: absolute;
        bottom: 37%;
        transform: translate(-50%, -50%);
        right: -80px;
        z-index: 50;
    }

}